[submodule "lib/douban-objc-client"]
	path = lib/douban-objc-client
	url = git@github.com:ryan728/douban-objc-client.git
[submodule "lib/DCIntrospect"]
	path = lib/DCIntrospect
	url = git@github.com:ryan728/DCIntrospect.git
[submodule "lib/Kiwi"]
	path = lib/Kiwi
	url = git@github.com:ryan728/Kiwi.git
